header {
    a {
        font-family: 'Righteous-regular', 'arial', sans-serif;;
        font-size:x-large;
        color: #CB1429;
        img {
            width: 8rem;
            height: 8rem;
        }
    }
    .col-md-3 {
        button {
            border: #CB1429;
            background-color: #CB1429;
            font-family: 'Righteous-regular', 'arial', sans-serif;;
        }
    }
}




