  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="assets/logo.png">
    </a>

    <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
      <li><a href="#" class="nav-link link-dark">Menu</a></li>
      <li><a href="#" class="nav-link link-dark">Offers</a></li>
      <li><a href="#" class="nav-link link-dark">Locations</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-primary">Make an Order</button>
    </div>


  </header>