<div class="container-fluid">

  <div class="countdown-container">
    <img src="assets/logo.png">
    <div class="counter">
    <h1>{{day}} | {{hours}} | {{minutes}} | {{seconds}}</h1>
    <h6>Days   -    Hours    -    Minutes    -     Seconds</h6>
    </div>
  </div>
  
  <div class="countdown-description">

  <h1>Time is running!!</h1>
  <h4>Come to our new restaurant in Puerta de Alcalá, 
    in Madrid, and you will receive a free drink 
    once you completed your order. </h4>

  </div>
</div>
    
    