.container-fluid {
    display: flex;
    justify-content: space-between;
    background-image: url("/assets/files/timer-08.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Righteous-regular';
    color: white;
    .countdown-container {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-evenly;
        img {
            max-width: 30%;
        }
        .counter {
            display: flex;
            align-content: center;
            flex-direction: column;
            align-items: center;
        }
    }
    .countdown-description {
        width: 50%;
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    @media screen and (max-width: 768px) {
        display: block;
        .countdown-container {
            width: 100%;
        }
        .countdown-description {
            width: 100%;
        }
    }

    @media screen and (max-width: 375px) {
        display: block;
        .countdown-container {
            width: 100%;
            padding: 5%;
            .counter {
                margin: 10px
            }
        }
        .countdown-description {
            width: 100%;
            h4 {
                margin-bottom: 50px;
            }
        }
    }
}
