.container-principal {
    margin: 1rem;
    font-family: 'Righteous-regular';
   
    width: 100%;
    .container-form {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        .btn {
            width: 30%;
            margin: 15px;
        }
        input {
            width: 40%;
        }
    }

    @media screen and (max-width: 375px) {
        display: block;
        text-align: center;

        .container-form {
            .form-control {
                width: 100%;
                margin: 5px;
            }
        }
    }
    
}