<div class="container-principal">

  <div class="card text-center" style="width: 27rem;">
    <div class="card-body">
      <img src="/assets/files/card-02.jpg" alt="">
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>

  <div class="card text-center" style="width: 27rem;">
    <div class="card-body">
      <img src="/assets/files/card-03.jpg" alt="">
      <a href="#" class="btn btn-primary">Know More</a>
    </div>
  </div>

  <div class="card text-center" style="width: 27rem;">
    <div class="card-body">
      <img src="/assets/files/card-04.jpg" alt="">
      <a href="#" class="btn btn-primary">Know why</a>
    </div>
  </div>

</div>

