.container-original {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: white;
    font-family: 'Righteous-regular';
    
    .first-container {
        width: 20%;
        img {
            width: 60%;
        }
    }
    .second-container {
        width: 30%;
        padding-left: 100px;
    }
    .third-container {
        width: 30%;
    }
    .last-container {
        width: 20%;
    }

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        .first-container {
            width: 100px;
        }
        .second-container {
            width: 30%;
        }
        .third-container {
            width: 30%;
        }
    }
    @media screen and (max-width: 375px) {
        display: flex;
        text-align: center;
        align-items: flex-start;
        .first-container{
            width: 100%;
        }
        .second-container {
            width: 100%;
        }
        .third-container {
            width: 100%;
        }
    }

}